<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Specifically, {{name}}</h1>

<ul>
  <li>Price: {{price}}</li>
  <li>Awesomeness: {{awesomeness}}</li>
</ul>
